.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0px;
  border-bottom: 1px solid #dddddd;
  .subheader_text {
    p:first-child {
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    p:nth-child(2) {
      span {
        font-weight: 600;
        color: #605cff;
      }
    }
  }
  .subheader_createbutton {
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    padding: 0 20px;
    height: 40px;
    background-color: #605cff;
    border-radius: 20px;
    a {
      color: #fff;
      font-weight: 700;
    }
  }
}
