@import './_reset';
// body {
//   overflow-x: hidden;
// }

footer {
  background-color: #f5f4fa;
  .minMax {
    height: 170px;
    .fooBox {
      height: inherit;
    }
    h1 {
      height: inherit;
      display: flex;
      align-items: center;
      img {
        width: 150px;
        margin-right: 50px;
      }
    }

    .pageInfo {
      .footerLink {
        ul.navigation {
          width: 135px;

          li {
            &:after {
              content: '|';
              margin-left: 20px;
            }
            &:last-child:after {
              content: none;
            }
            a {
              font-size: 14px;
              color: #222;
            }
          }
        }
      }
      hr {
        width: 990px;
        margin: 15px auto;
        border: none;
        height: 1px;
        background-color: #ddd;
      }
      .pageInfo {
        p {
          padding-bottom: 8px;
          &:first-child {
            font-size: 14px;
            color: #605cff;
            a {
              color: #605cff;
              padding-left: 10px;
            }
          }
          &:last-child {
            font-size: 14px;
            color: #222;
            a {
              padding: 0 5px;
            }
          }
        }
      }
    }
  }
}
