@import './_reset';

header {
  .mainHeader {
    padding: 20px 0;
    > div {
      align-items: center;
      h1 {
        img {
          width: 120px;
          margin-right: 60px;
        }
      }
      ul.navigation {
        width: 190px;
        align-items: center;
        li {
          font-size: 18px;
          font-weight: 600;
          &.pageIn a {
            font-weight: 700;
            color: #605cff;
          }
          &:nth-child(2) {
            position: relative;
            margin-right: 25px;
            &::before {
              content: 'NEW';
              position: absolute;
              top: 2px;
              right: -27px;
              font-size: 10px;
              color: #605cff;
            }
          }
        }
      }
      > a {
        display: block;
        cursor: pointer;
        color: #605cff;
        font-weight: 700;
        padding: 12px 25px;
        font-size: 17px;
        border: 2px solid #605cff;
        border-radius: 50px;
      }
      .search {
        position: relative;
        height: 35px;
        margin-right: 20px;
        input {
          height: inherit;
          width: 350px;
          background-color: #f5f6f7;
          border: none;
          border-radius: 20px;
          padding: 10px 20px;
        }
        .searchIcon {
          cursor: pointer;
          display: block;

          width: 26px;
          height: 22px;
          z-index: 2;
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
        }
      }
    }
    .buttons {
      display: flex;
      margin-right: 10px;
      div {
        width: 20px;
        height: 20px;
        margin: 0px 20px;
        img {
          width: 20px;
          height: 20px;
        }
      }
      div:hover {
        cursor: pointer;
      }
    }
    .profileImg {
      width: 45px;
      height: 45px;
      background-color: #ddd;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #eee;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
    .icon-box {
      width: 160px;
      margin-right: 60px;
      position: relative;
      img {
        cursor: pointer;
        width: 28px;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0px;
        right: -30px;
        width: 1px;
        height: 30px;
        background-color: #eee;
      }
    }
    // 로그인X

    .login {
      width: 70px;
      height: 25px;
      border-radius: 30px;
      text-align: center;
      line-height: 25px;
      margin-right: 5px;
      a {
        font-size: 14px;
        color: #222;
      }
    }
    .join {
      width: 70px;
      height: 25px;
      border-radius: 30px;
      background-color: #222;
      text-align: center;
      line-height: 25px;
      a {
        font-size: 14px;
        color: #fff;
      }
    }
  }

  .location {
    background-color: #605cff;
    height: 50px;
    .minMax {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: inherit;
      > a,
      p {
        cursor: pointer;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        padding: 0 20px;
        border-left: 1px solid #eeeeee53;
      }
    }
  }
}
