@import './_reset';

.part3 {
  position: relative;
  height: 560px;
  .minMax {
    .text {
      position: absolute;
      top: 60px;
      .mainText {
        font-size: 20px;
        font-weight: bold;
        color: #605cff;
        margin-bottom: 10px;
      }
      .subText {
        color: #222222;
      }
    }
    .flexBox {
      position: absolute;
      top: 130px;
      // width: 1150px;
      height: 323px;
      .profile {
        width: 280px;
        height: 325px;
        margin-right: 20px;
        background: #ffffff;
        border: 1px solid #eeeeee;
        border-radius: 10px;
        position: relative;
        div {
          .nickName {
            margin-top: 20px;
            margin-bottom: 10px;
          }
          .field {
          }
          .level {
          }
          .friend {
            position: absolute;
            left: 50px;
            bottom: 80px;
            color: #999999;
            font-weight: 400;
            .follow {
              margin-right: 10px;
              span {
                margin-left: 5px;
                font-weight: 600;
              }
            }
            .following {
              span {
                margin-left: 5px;
                font-weight: 600;
              }
            }
          }
          .btnFollow {
            position: absolute;
            width: 226px;
            height: 35px;
            margin-top: 30px;
            color: #605cff;
            text-align: center;
            background: #ffffff;
            border: 1px solid #605cff;
            border-radius: 30px;
            left: 26px;
            bottom: 25px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
