@import './_reset';

.part3 {
  position: relative;
  height: 600px;
  .minMax {
    .text {
      position: absolute;
      top: 60px;
      .mainText {
        font-size: 20px;
        font-weight: bold;
        color: #605cff;
        margin-bottom: 10px;
      }
      .subText {
        font-size: 14px;
        color: #222222;
      }
    }
    .flexBox {
      position: absolute;
      top: 130px;
      // width: 1150px;
      height: 323px;
      .profile {
        width: 280px;
        height: 325px;
        margin-right: 20px;
        background: #ffffff;
        border: 1px solid #eeeeee;
        border-radius: 10px;

        div {
          .nickName {
          }
          .field {
          }
          .level {
          }
          .friend {
            color: #999999;
            font-weight: 400;
            .follow {
              span {
                font-weight: 600;
              }
            }
            .following {
              span {
                font-weight: 600;
              }
            }
          }
          .btnFollow {
            width: 226px;
            height: 35px;
            margin-top: 30px;
            color: #605cff;
            text-align: center;
            background: #ffffff;
            border: 1px solid #605cff;
            border-radius: 30px;
          }
        }
      }
    }
  }
}
