.box-write {
  width: 77%;
  padding: 40px 40px 20px;
  h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  h3 {
    color: #605cff;
    padding-bottom: 20px;
    margin: 50px 0 20px;
    border-bottom: 1px solid #eee;
  }
  .studyInputBox {
    .studyInputSubBox {
      margin-bottom: 10px;
      .subTitle {
        width: 230px;
        font-weight: 700;
        .require {
          margin-left: 5px;
          color: #605cff;
        }
      }
      .inputBox {
        height: 38px;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 10px;
        font-size: 16px;
      }
      .inputContainer {
        width: 100%;
      }
      textarea {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 10px;
        font-size: 16px;
      }
    }
  }
}
.box-confirm {
  padding: 40px 20px;
  width: 20%;
  height: 400px;
  .percent {
    text-align: center;
    margin-bottom: 40px;
    .percentText {
      color: #605cff;
      font-size: 40px;
      font-weight: 900;
      span {
        font-size: 14px;
      }
    }
    .percentSubText {
      font-size: 14px;
      margin-top: 5px;
      color: #999;
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    border-radius: 20px;

    font-weight: 700;
    margin: 10px 0;
    cursor: pointer;
    &--create {
      padding: 10px;
      color: #fff;
      background-color: #605cff;
    }
    &--cancel {
      padding: 8px;
      border: 2px solid #605cff;
      color: #605cff;
    }
    &.disabled {
      background-color: #ccc;
      cursor: default;
    }
  }
}
div[class^='box'] {
  border-radius: 10px;
  border: 1px solid #eee;
  margin: 30px 0;
}
