@import './_reset';

.studyTop {
  display: flex;
  justify-content: space-between;
  border: 1px solid #eee;
}
.studyContent {
  border: 1px solid #eee;
}
.skillsImg {
  border: 1px solid #eee;
}
.studyMember {
  border: 1px solid #eee;
}
.commonGoal {
  border: 1px solid #eee;
}
.studyBoard {
  border: 1px solid #eee;
}
