.detailTab {
  margin: 30px 0;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  width: 78.5%;
  padding: 40px 30px;
  .detailTextBox {
    font-size: 16px;
    a {
      color: #605cff;
      font-weight: 700;
      .left-arrow {
        margin-right: 10px;
      }
    }
    h1 {
      margin-top: 10px;
      font-size: 23px;
    }
    h5 {
      color: #888;
      margin: 20px 0;
      font-size: 15px;
      font-weight: 300;
    }
  }
  .detailTabBox {
    border-bottom: 1px solid #eeeeee;
    .onDetailPage {
      p {
        color: #605cff;
        font-weight: 800;
        border-bottom: 6px solid #605cff;
      }
    }
    p {
      padding: 20px;
      cursor: pointer;
    }
  }
}
