.insertInformationWrap {
  display: flex;
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 100px 0;
  min-height: calc(100vh - 81px - 50px);

  .intro {
    margin-top: 10px;
    font-size: 16px;
    strong {
      color: #605cff;
      font-weight: 800;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin-top: 30px;
    div {
      margin-top: 20px;
      width: 400px;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      label {
        font-size: 16px;
        font-weight: 600;
        .require {
          margin-left: 5px;
          color: #605cff;
        }
      }
      input {
        padding-left: 15px;
        border: 1px solid #9a9a9a;
        border-radius: 2px;
        width: 280px;
        height: 40px;
        font-size: 16px;
      }
      select {
        padding-left: 15px;
        border: 1px solid #9a9a9a;
        border-radius: 2px;
        width: 280px;
        height: 40px;
        font-size: 16px;
      }
    }

    .submitBtn {
      margin-top: 30px;
      background-color: #605cff;
      color: #fff;
      font-weight: 700;
      width: 280px;
      height: 40px;
      border: none;
      border-radius: 30px;
      font-size: 16px;
    }
    .submitBtn:hover {
      cursor: pointer;
    }
  }
  .explain {
    margin-top: 15px;
    color: #605cff;
    font-size: 16px;
  }
  .skip {
    margin-top: 15px;
    text-decoration: underline;
    color: #605cff;
    font-size: 16px;
  }

  .skip:hover {
    cursor: pointer;
  }
}
