@import './_reset';

// 메인
.mainTop {
  background-color: #f7f7fb;
  .main {
    position: relative;
    height: 520px;
    align-items: center;

    .mainText {
      position: absolute;
      left: 100px;
      .text {
        font-size: 50px;
        font-weight: 700;
        text-align: left;
        padding-bottom: 30px;
      }
      .mycityLink {
        width: 149px;
        height: 39px;
        background: #605cff;
        border-radius: 30px;
        line-height: 40px;
        text-align: center;

        a {
          color: #fff;
        }
      }
    }
    overflow: hidden;
    .mycityImg {
      position: absolute;
      width: 800px;
      left: 470px;
      top: 10px;
    }
  }
}

// 모집 중인 스터디
.part1 {
  position: relative;
  height: 390px;
  .minMax {
    .text {
      position: absolute;
      top: 60px;
      .mainText {
        font-size: 20px;
        font-weight: bold;
        color: #605cff;
        margin-bottom: 10px;
      }
      .subText {
        font-size: 14px;
        color: #222222;
      }
    }
    .showStudy {
      position: absolute;
      top: 140px;
      .plusStudy {
        position: relative;
        width: 110px;
        height: 187px;
        border: 1px solid #eeeeee;
        border-radius: 10px;
        text-align: center;
        a {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          img {
          }
          div {
            font-weight: 600;
            color: #605cff;
          }
        }
      }
    }
  }
}

// 스터디 생성 프로세스
.part2 {
  position: relative;
  height: 620px;
  .minMax {
    height: 250px;
    .text {
      position: absolute;
      top: 30px;
      .mainText {
        font-size: 20px;
        font-weight: bold;
        color: #605cff;
        margin-bottom: 10px;
      }
      .subText {
        font-size: 14px;
        color: #222222;
      }
      .createLink {
        width: 120px;
        height: 35px;
        margin-top: 30px;
        background: #ffffff;
        border: 1px solid #605cff;
        border-radius: 30px;
        text-align: center;
        a {
          font-weight: 600;
          font-size: 20px;
          line-height: 33px;
          color: #605cff;
        }
      }
    }
  }
  .size {
    background-color: #eef4fe;
    .minMax {
      position: relative;
      height: 370px;
      .flexBox {
        position: absolute;
        top: 120px;
        width: 1200px;
        justify-content: space-around;
        div {
          color: #222;
          text-align: center;
          // margin-right: 90px;
          img {
          }
          p {
            font-weight: 600;
            &:last-child {
              margin-top: 10px;
              font-weight: 400;
            }
          }
        }
      }
      .pointImg {
        position: absolute;
        top: -190px;
        right: -160px;
      }
    }
  }
}

// 추천친구
