@import './_reset';

// 메인
.mainTop {
  background: linear-gradient(
    261.83deg,
    #fffcf3 5.25%,
    rgba(243, 243, 249, 0.650924) 41.37%,
    #f3f3f9 108.71%
  );
  .main {
    position: relative;
    height: 520px;
    align-items: center;

    .mainText {
      position: absolute;
      left: 100px;
      .text {
        font-size: 50px;
        text-align: left;
        padding-bottom: 30px;
      }
      .mycityLink {
        width: 149px;
        height: 39px;
        background: #605cff;
        border-radius: 30px;
        line-height: 40px;
        text-align: center;

        a {
          color: #fff;
        }
      }
    }
  }
}
.mycityImg {
  position: absolute;
  width: 780px;
  top: 165px;
  right: 50%;
  transform: translateX(90%);
}

// 모집 중인 스터디
.part1 {
  position: relative;
  height: 390px;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  .minMax {
    .text {
      position: absolute;
      top: 60px;
      .mainText {
        font-size: 20px;
        font-weight: bold;
        color: #605cff;
        margin-bottom: 10px;
      }
      .subText {
        color: #222222;
      }
    }
    .showStudy {
      position: absolute;
      width: 1400px;
      top: 140px;

      a {
        width: 253px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        h3 {
        }
      }
      .plusStudy {
        position: relative;
        width: 110px;
        height: 192px;
        border: 1px solid #eeeeee;
        border-radius: 10px;
        text-align: center;
        &:hover {
          border: 1px solid #605cff;
        }
        a {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          img {
          }
          div {
            font-weight: 600;
            color: #605cff;
          }
        }
      }
    }
    ul.skills {
      width: 180px;
      p {
        margin-right: 5px;
        width: 40px;
        img {
          display: block;
          width: 40px;
        }
      }
    }
  }
}

// 스터디 생성 프로세스
.part2 {
  position: relative;
  height: 620px;
  .minMax {
    height: 250px;
    .text {
      position: absolute;
      top: 30px;
      .mainText {
        font-size: 20px;
        font-weight: bold;
        color: #605cff;
        margin-bottom: 10px;
      }
      .subText {
        line-height: 20px;
        color: #222222;
      }
      .createLink {
        width: 120px;
        height: 35px;
        margin-top: 30px;
        background: #ffffff;
        border: 1px solid #605cff;
        border-radius: 30px;
        text-align: center;
        a {
          font-weight: 600;
          font-size: 16px;
          line-height: 33px;
          color: #605cff;
        }
      }
    }
  }
  .size {
    background-color: #eef4fe;
    .minMax {
      position: relative;
      height: 370px;
      .flexBox {
        position: absolute;
        top: 120px;
        left: 30px;
        width: 1100px;
        justify-content: space-around;
        div {
          color: #222;
          text-align: center;
          img {
          }
          p {
            font-weight: 600;
            &:last-child {
              margin-top: 10px;
              font-weight: 400;
            }
          }
        }
        .arrow {
          margin-top: 70px;
          width: 23px;
          height: 23px;
        }
      }
    }
  }
}

.pointImg {
  position: absolute;
  width: 100%;
  top: 65px;
  left: 50%;
  transform: translateX(-10%);
  background-color: #100c0b;
  border-radius: 50px 0px 0px 0px;
  height: 271px;
  overflow: hidden;
  &::before {
    content: url('../../public/images/main-3.svg');
    opacity: 60%;
  }
  .imgText {
    position: absolute;
    color: #eee;
    font-size: 20px;
    width: 310px;
    left: 50%;
    top: 50%;
    transform: translateX(-150%);
    z-index: 999;
  }
  // &::after {
  //   content: 'Building the Future with Dev-City';
  //   position: absolute;
  //   color: #eee;
  //   font-size: 20px;
  //   width: 310px;
  //   left: 28%;
  //   top: 50%;
  //   transform: translateX(-50%);
  //   z-index: 999;
  // }
}
.bottom {
  position: relative;
  background-color: #24272e;
  height: 80px;

  .lastImg {
    position: absolute;
    right: 50%;
    transform: translateX(40%);
    height: inherit;
    opacity: 50%;
  }
}
