.study_status-profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .study_status-profile_photo {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
  .study_status-profile_nickname {
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
  }
}
