.myStudyBoard {
  width: 31.8%;
  position: relative;
  border-radius: 10px;
  border: 1px solid #eee;
  background-color: #ffffff;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 25px;
  cursor: pointer;
  &:hover {
    border: 1px solid #605cff;
  }
  p.date {
    color: #999;
  }
  h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 7px;
  }
  ul.skills {
    margin-top: 15px;
    width: 205px;
    overflow: hidden;
    text-overflow: ellipsis;
    p {
      margin-right: 7px;
      width: 45px;
      img {
        display: block;
        width: 45px;
      }
    }
  }
  span.ellipsis {
    position: absolute;
    right: 25px;
    bottom: 40px;
  }
}
