.profile {
  padding: 25px;
  text-align: center;
  margin: 30px 0;
  position: relative;
  .profileBox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;

    img.profilePhoto {
      width: 100%;
    }
  }
  .editIcon {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 55px;
    right: 25px;
    background-color: #605cff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 12px;
    img {
      width: 20px;
      height: 20px;
      z-index: 999;
    }
  }
  .nickName {
    margin: 170px 0 7px;
    font-size: 20px;
    font-weight: 700;
  }

  .userName {
    color: #999;
    margin-bottom: 20px;
  }

  .field {
    color: #d97500;
    background-color: #ffdba5;
    border-radius: 15px;
    padding: 3px 10px;
    margin: 5px;
  }

  .level {
    color: #8fc001;
    background-color: #e6f1a4;
    border-radius: 15px;
    padding: 3px 10px;
    margin: 5px;
  }

  hr {
    margin-top: 40px;
    border: 0.1px solid #eee;
  }

  .address {
    text-align: start;
    margin-top: 30px;
    div:first-child {
      margin-bottom: 7px;
      color: #999;
    }
  }

  .editor {
    margin: 40px 0 10px;
    a {
      cursor: pointer;
      color: #ff6868;
      text-decoration: underline;
    }
    a:first-child {
      color: #605cff;
      margin-right: 25px;
    }
  }
}
