.profile {
  padding: 25px;
  text-align: center;
  margin: 30px 0;
  position: relative;
  .profileBox {
    position: absolute;
    left: 50%;
    transform: translateX(-55%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img.profilePhoto {
      width: 105%;
      object-fit: cover;
    }
  }
  .edit {
    .editIcon {
      cursor: pointer;
      z-index: 1;
      position: absolute;
      top: 122px;
      right: 50px;
      background-color: #605cff;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      padding: 12px;
      img {
        width: 20px;
        height: 20px;
        z-index: 999;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 190px;
    margin-top: 170px;
    div {
      margin-top: 10px;
      width: 190px;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      label {
        font-size: 14px;
        font-weight: 600;
      }
      input {
        padding-left: 10px;
        border: 1px solid #9a9a9a;
        border-radius: 2px;
        width: 190px;
        height: 30px;
        &#phoneInput {
          border-color: coral;
        }
      }
      select {
        padding-left: 10px;
        border: 1px solid #9a9a9a;
        border-radius: 2px;
        width: 190px;
        height: 30px;
      }
    }
    .hidden {
      display: none;
    }
  }
  .nickName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 170px 0 7px;
    font-size: 20px;
    font-weight: 700;
  }

  .userName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999;
    margin-bottom: 20px;
  }

  .field {
    color: #d97500;
    background-color: #ffdba5;
    border-radius: 15px;
    padding: 3px 10px;
    margin: 5px;
  }

  .level {
    color: #8fc001;
    background-color: #e6f1a4;
    border-radius: 15px;
    padding: 3px 10px;
    margin: 5px;
  }

  hr {
    margin-top: 40px;
    border: 0.1px solid #eee;
  }

  .address {
    text-align: start;
    margin-top: 30px;
    div {
      margin-bottom: 7px;
      color: #999;
    }
    a {
      display: block;
      width: inherit;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .editor {
    margin: 40px 0 10px;
    a {
      cursor: pointer;
      color: #ff6868;
      text-decoration: underline;
    }
    a:first-child {
      color: #605cff;
      margin-right: 25px;
    }
  }
}
