.studyTab {
  .buildingBox {
    width: 100%;
    position: relative;
    margin: 230px 0 100px;
    img.bg {
      width: 100%;
    }
    .building {
      position: absolute;
      cursor: pointer;
      .contentBox {
        position: relative;
        .hoverBox {
          position: absolute;
          top: -50px;
          left: 60%;
          transform: translateX(-60%);
          display: block;
          background-color: white;
          border: 1px solid #eee;
          border-radius: 5px;
          padding: 10px;
          width: 150px;

          &.disable {
            opacity: 0;
          }
          h4 {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 3px;
            color: #605cff;
          }
          p {
            color: #999;
          }
        }
      }
    }
    .building1 {
      z-index: 9;
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%);
    }
    .building2 {
      z-index: 8;
      bottom: 120px;
      left: 29%;
    }
    .building3 {
      z-index: 7;
      bottom: 210px;
      left: 50%;
    }
    .building4 {
      z-index: 6;
      top: 0px;
      left: 40%;
    }
    .building5 {
      z-index: 5;
      top: 90px;
      left: 8%;
    }
    .building6 {
      z-index: 4;
      top: 30px;
      right: 10%;
    }
    .building7 {
      z-index: 3;
      top: -45px;
      right: 27%;
    }
    .building8 {
      z-index: 2;
      top: -80px;
      left: 27%;
    }
    .building9 {
      z-index: 1;
      top: -180px;
      left: 40%;
    }
  }
  div[class^='study'] {
    .title {
      margin-bottom: 30px;
      h4 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      .totalCnt {
        color: #605cff;
        margin-right: 5px;
        font-weight: 600;
      }
    }
    .cardBox {
      flex-wrap: wrap;
    }
  }
  div.study-my {
    margin-bottom: 20px;
  }
  div.study-like {
  }
  .myStudyBoard:nth-child(3n) {
    margin-right: 0;
  }
}
