.studyProfile {
  width: 32.2%;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;

  &:nth-child(3n) {
    margin-right: 0px;
  }

  .nickNameStudy {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 18px;
  }
  .userNameStudy {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999;
    margin-bottom: 10px;
  }
  .userFieldLevel {
    display: flex;
    justify-content: center;
    .fieldStudy {
      color: #d97500;
      background-color: #ffdba5;
      border-radius: 15px;
      padding: 3px 10px;
      margin: 5px;
      min-width: fit-content;
    }
    .levelStudy {
      color: #8fc001;
      background-color: #e6f1a4;
      border-radius: 15px;
      padding: 3px 10px;
      margin: 5px;
    }
  }

  .btnFollowStudy {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    color: #605cff;
    text-align: center;
    background: #ffffff;
    border: 1px solid #605cff;
    border-radius: 30px;

    cursor: pointer;
  }

  .requestBtn {
    display: flex;
    justify-content: space-between;
    .acceptBtn,
    .refuseBtn {
      width: 48%;
      color: #605cff;
      text-align: center;
      background: #ffffff;
      border: 1px solid #605cff;
      height: 30px;
      margin-top: 15px;
      border-radius: 30px;
      cursor: pointer;
    }
    .refuseBtn {
      border: 1px solid #ff6868;
      color: #ff6868;
    }
  }
}
.isMember {
  .studyProfile:first-child {
    position: relative;
    &::after {
      position: absolute;
      top: 15px;
      left: 15px;
      content: 'Leader';
      padding: 5px 10px;
      background-color: #f7f7ff;
      color: #605cff;
      border-radius: 20px;
      font-size: 12px;
    }
  }
}
